# Gendered Language Annotation in brat
Annotation workflow:
1. Load metadata descriptions for annotation into [brat](https://brat.nlplab.org/) [completed]
2. Specify annotation schema in brat
3. Set up multiple annotator accounts [4 users as of Nov. 27 2020]
4. Annotate descriptions
5. Export annotations
6. Evaluate inter-annotator agreement (IAA)

### Reviewing Annotations
Import libraries:

In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
# nltk.download('punkt')
from nltk.corpus import PlaintextCorpusReader
# nltk.download('averaged_perceptron_tagger')
from nltk.tag import pos_tag
import string
import csv
import re

### Build Each Annotator's DataFrame of Annotations

In [ ]:
# INPUT: a list of file names for one annotator, the annotator's name
# OUTPUT: a dataframe of all annotations for the input annotator
def buildDataFrame(ann_files, annotator):
    df = pd.DataFrame()
    
    for f in ann_files:
        df_ann = pd.read_csv(f, sep="\t", names=["entity","label-start-end","text"])
        df_ann['file'] = [f for x in range(df_ann.shape[0])]
        label_and_offsets = list(df_ann["label-start-end"])
        list_of_landos = []

        for row in label_and_offsets:
            row_list = row.split(" ")
            list_of_landos += [row_list]
        label = []
        start = []
        end = []
        for l in list_of_landos:
            label += [l[0]]
            start += [l[1]]
            end += [l[2]]

        df_ann['label'] = label
        df_ann['start'] = start
        df_ann['end'] = end
        df_ann['annotator'] = [annotator for x in range(df_ann.shape[0])]

        df.append(df_ann)

    return df

In [ ]:
filepath = ""
annotator = "Annotator 1"
annotations = PlaintextCorpusReader(filepath, ".+\.ann")
ann_files = annotations.fileids()
ann1_df = buildDataFrame(annotations, annotator)

In [ ]:
filepath = ""
annotator = "Annotator 2"
annotations = PlaintextCorpusReader(filepath, ".+\.ann")
ann_files = annotations.fileids()
ann2_df = buildDataFrame(annotations, annotator)

In [ ]:
filepath = ""
annotator = "Annotator 3"
annotations = PlaintextCorpusReader(filepath, ".+\.ann")
ann_files = annotations.fileids()
ann3_df = buildDataFrame(annotations, annotator)

In [ ]:
filepath = ""
annotator = "Annotator 4"
annotations = PlaintextCorpusReader(filepath, ".+\.ann")
ann_files = annotations.fileids()
ann4_df = buildDataFrame(annotations, annotator)

In [ ]:
filepath = ""
annotator = "Annotator 5"
annotations = PlaintextCorpusReader(filepath, ".+\.ann")
ann_files = annotations.fileids()
ann5_df = buildDataFrame(annotations, annotator)

### Developing Workflow
**Step 1:** Load my dataset after annotating in brat

In [2]:
filename = "training1-0"
txt = ".txt"
ann = ".ann"
pilot_txt = open('pilots/bratTxts/'+filename+txt, 'r')
print(pilot_txt.read())

ID:Coll-1149
Collection, Sub-collection, and Item IDs
'Coll-1149'

Scope and Contents
'This key research resource is an important survival, being a manuscript account book detailing transactions - debits and credits - relating to the lead-ore company at Leadhills, operated by Sir John Hope of Craighall. Many important people are mentioned in this book, including Alexander Hope of London, Archibald Hope of Craighall, the Earl of Wigtown, the Duke of Hamilton, the Lord of Inglestone, Charles Erskine of Alba, Alexander Tait, Lady Marie Keith, the Earl of Crawford, Lord Mordington, Lord Cardcross, and Alexander Ross. The amounts involved are huge, with the account of revenues in hand running to over Â£70,000 towards the end of the period. The manuscript volume itself is composed of a short alphabetic table of names, then from folio 1, accounts dating from 1 August 1662, Edinburgh, to 7 September 1671, Edinburgh, at folio 221. Towards the rear of the volume are another set of accounts and revenues and interests on 87 folios.'

Biographical / Historical
"The Scottish judge, Sir John Hope, Lord Craighall, was born around 1605 and was the eldest son of Sir Thomas Hope of Craighall, first baronet. He studied for the legal profession, became an advocate, and was knighted in 1632. In 1640 he was placed on the Committee of Estates appointed to provide for the defence of the country against King Charles I (the Committee of Estates had been appointed to govern Scotland when Parliament was not in session). In 1651, his brother Sir Alexander Hope was examined by the Committee of Estates for advising the King to surrender Scotland and Ireland to Cromwell, during which he quoted Sir John, Lord Craighall, as having stated that the King should 'treat with Cromwell for one-half of his coat before he lost the whole'. In 1652, Sir John was appointed as one of three Scottish judges who, together with five English judges, comprised Cromwell's committee responsible for the administration of justice. Another brother, Sir James Hope (1614-1661), was a representative for Scotland in the English Parliament in 1653. Sir John Hope, Lord Craighall, died in Edinburgh on 28 April 1654. It had been Sir John Hope and Sir James Hope who in the 1660s had owned the lead-ore company at Leadhills in the Lowther Hills - an area along with Wanlockhead which yielded other ores too. Indeed gold was discovered in the area during the reign of James IV, when gold-mining had provided employment for 300 persons. Although gold-mining declined, the export of lead-ore from Leadhills was very important in the early modern Scottish economy, and the Hope family had built on their control of this industry to acquire property and land. The lead mines were profitable enough to justify building or improving roads the full 50 miles to Leith from which the ore could be exported to the Low Countries for smelting."

Processing Information
No description provided

In [3]:
pilot_ann = open('pilots/bratAnnots/'+filename+ann, 'r')
print(pilot_ann.read())

T2	Gendered-Role 445 449	Duke
T3	Gendered-Role 467 471	Lord
T5	Gendered-Role 568 572	Lord
T6	Gendered-Role 585 589	Lord
T8	Gendered-Role 1099 1103	Lord
T9	Gendered-Role 1162 1165	Sir
T12	Gendered-Pronoun 1207 1209	He
T14	Gendered-Role 1400 1404	King
T15	Gendered-Role 1529 1536	brother
T16	Gendered-Pronoun 1525 1528	his
T17	Gendered-Role 1537 1540	Sir
T13	Gendered-Role 2025 2028	Sir
T1	Gendered-Role 277 280	Sir
T4	Gendered-Role 424 428	Earl
T18	Gendered-Role 528 532	Lady
T19	Gendered-Role 550 554	Earl
T20	Gendered-Role 1084 1087	Sir
T10	Gendered-Role 1155 1158	son
T11	Omission 1148 1191	eldest son of Sir Thomas Hope of Craighall,
T21	Gendered-Role 1198 1205	baronet
T22	Gendered-Pronoun 1298 1300	he
T23	Gendered-Role 1689 1692	Sir
T24	Gendered-Role 1614 1618	King
T25	Gendered-Role 1741 1745	King
T7	Gendered-Role 1835 1838	Sir
T26	Gendered-Role 2122 2125	Sir
T27	Gendered-Role 2137 2141	Lord
T28	Gendered-Role 2201 2204	Sir
T29	Gendered-Role 2219 2222	Sir

In [4]:
df_ann = pd.read_csv("pilots/bratAnnots/"+filename+ann, sep="\t", names=["entity","label-start-end","text"])
df_ann['file'] = [filename for x in range(df_ann.shape[0])]

In [5]:
label_and_offsets = list(df_ann["label-start-end"])
list_of_landos = []
for row in label_and_offsets:
    row_list = row.split(" ")
    list_of_landos += [row_list]
# print(list_of_landos)
label = []
start = []
end = []
for l in list_of_landos:
    label += [l[0]]
    start += [l[1]]
    end += [l[2]]
# print(label)
# print(start)

In [6]:
df_ann['label'] = label
df_ann['start'] = start
df_ann['end'] = end
df_ann['annotator'] = ['Lucy' for x in range(df_ann.shape[0])]
df_ann

,entity,label-start-end,text,file,label,start,end,annotator
0,T2,Gendered-Role 445 449,Duke,training1-0,Gendered-Role,445,449,Lucy
1,T3,Gendered-Role 467 471,Lord,training1-0,Gendered-Role,467,471,Lucy
2,T5,Gendered-Role 568 572,Lord,training1-0,Gendered-Role,568,572,Lucy
3,T6,Gendered-Role 585 589,Lord,training1-0,Gendered-Role,585,589,Lucy
4,T8,Gendered-Role 1099 1103,Lord,training1-0,Gendered-Role,1099,1103,Lucy
5,T9,Gendered-Role 1162 1165,Sir,training1-0,Gendered-Role,1162,1165,Lucy
6,T12,Gendered-Pronoun 1207 1209,He,training1-0,Gendered-Pronoun,1207,1209,Lucy
7,T14,Gendered-Role 1400 1404,King,training1-0,Gendered-Role,1400,1404,Lucy
8,T15,Gendered-Role 1529 1536,brother,training1-0,Gendered-Role,1529,1536,Lucy
9,T16,Gendered-Pronoun 1525 1528,his,training1-0,Gendered-Pronoun,1525,1528,Lucy
10,T17,Gendered-Role 1537 1540,Sir,training1-0,Gendered-Role,1537,1540,Lucy
11,T13,Gendered-Role 2025 2028,Sir,training1-0,Gendered-Role,2025,2028,Lucy
12,T1,Gendered-Role 277 280,Sir,training1-0,Gendered-Role,277,280,Lucy
13,T4,Gendered-Role 424 428,Earl,training1-0,Gendered-Role,424,428,Lucy
14,T18,Gendered-Role 528 532,Lady,training1-0,Gendered-Role,528,532,Lucy
15,T19,Gendered-Role 550 554,Earl,training1-0,Gendered-Role,550,554,Lucy
16,T20,Gendered-Role 1084 1087,Sir,training1-0,Gendered-Role,1084,1087,Lucy
17,T10,Gendered-Role 1155 1158,son,training1-0,Gendered-Role,1155,1158,Lucy
18,T11,Omission 1148 1191,"eldest son of Sir Thomas Hope of Craighall,",training1-0,Omission,1148,1191,Lucy
19,T21,Gendered-Role 1198 1205,baronet,training1-0,Gendered-Role,1198,1205,Lucy
20,T22,Gendered-Pronoun 1298 1300,he,training1-0,Gendered-Pronoun,1298,1300,Lucy
21,T23,Gendered-Role 1689 1692,Sir,training1-0,Gendered-Role,1689,1692,Lucy
22,T24,Gendered-Role 1614 1618,King,training1-0,Gendered-Role,1614,1618,Lucy
23,T25,Gendered-Role 1741 1745,King,training1-0,Gendered-Role,1741,1745,Lucy
24,T7,Gendered-Role 1835 1838,Sir,training1-0,Gendered-Role,1835,1838,Lucy
25,T26,Gendered-Role 2122 2125,Sir,training1-0,Gendered-Role,2122,2125,Lucy
26,T27,Gendered-Role 2137 2141,Lord,training1-0,Gendered-Role,2137,2141,Lucy
27,T28,Gendered-Role 2201 2204,Sir,training1-0,Gendered-Role,2201,2204,Lucy
28,T29,Gendered-Role 2219 2222,Sir,training1-0,Gendered-Role,2219,2222,Lucy

**Step 2:** Load Melissa's dataset after annotating in brat

In [7]:
filename = "training1-0"
txt = ".txt"
ann = ".ann"
mel_txt = open('pilots/melissaAnnots/'+filename+txt, 'r')
df_mann = pd.read_csv("pilots/melissaAnnots/"+filename+ann, sep="\t", names=["entity","label-start-end","text"])
df_mann['file'] = [filename for x in range(df_ann.shape[0])]
label_and_offsets = list(df_mann["label-start-end"])
list_of_landos = []
for row in label_and_offsets:
    row_list = row.split(" ")
    list_of_landos += [row_list]
label = []
start = []
end = []
for l in list_of_landos:
    label += [l[0]]
    start += [l[1]]
    end += [l[2]]
df_mann['label'] = label
df_mann['start'] = start
df_mann['end'] = end
df_mann['annotator'] = ['Melissa' for x in range(df_ann.shape[0])]
df_mann

,entity,label-start-end,text,file,label,start,end,annotator
0,T1,Gendered-Role 277 280,Sir,training1-0,Gendered-Role,277,280,Melissa
1,T2,Gendered-Role 424 428,Earl,training1-0,Gendered-Role,424,428,Melissa
2,T3,Gendered-Role 445 449,Duke,training1-0,Gendered-Role,445,449,Melissa
3,T4,Gendered-Role 467 471,Lord,training1-0,Gendered-Role,467,471,Melissa
4,T5,Gendered-Role 528 532,Lady,training1-0,Gendered-Role,528,532,Melissa
5,T6,Gendered-Role 550 554,Earl,training1-0,Gendered-Role,550,554,Melissa
6,T7,Gendered-Role 568 572,Lord,training1-0,Gendered-Role,568,572,Melissa
7,T8,Gendered-Role 585 589,Lord,training1-0,Gendered-Role,585,589,Melissa
8,T9,Gendered-Role 1084 1087,Sir,training1-0,Gendered-Role,1084,1087,Melissa
9,T10,Gendered-Role 1155 1158,son,training1-0,Gendered-Role,1155,1158,Melissa
10,T11,Gendered-Role 1162 1165,Sir,training1-0,Gendered-Role,1162,1165,Melissa
11,T12,Gendered-Pronoun 1207 1209,He,training1-0,Gendered-Pronoun,1207,1209,Melissa
12,T13,Gendered-Role 1272 1280,knighted,training1-0,Gendered-Role,1272,1280,Melissa
13,T14,Gendered-Pronoun 1298 1300,he,training1-0,Gendered-Pronoun,1298,1300,Melissa
14,T15,Gendered-Role 1400 1404,King,training1-0,Gendered-Role,1400,1404,Melissa
15,T16,Gendered-Role 1537 1540,Sir,training1-0,Gendered-Role,1537,1540,Melissa
16,T17,Gendered-Role 1614 1618,King,training1-0,Gendered-Role,1614,1618,Melissa
17,T18,Gendered-Pronoun 1679 1681,he,training1-0,Gendered-Pronoun,1679,1681,Melissa
18,T19,Gendered-Role 1689 1692,Sir,training1-0,Gendered-Role,1689,1692,Melissa
19,T20,Gendered-Role 1699 1703,Lord,training1-0,Gendered-Role,1699,1703,Melissa
20,T21,Gendered-Role 1741 1745,King,training1-0,Gendered-Role,1741,1745,Melissa
21,T22,Gendered-Role 1835 1838,Sir,training1-0,Gendered-Role,1835,1838,Melissa
22,T23,Gendered-Role 2016 2023,brother,training1-0,Gendered-Role,2016,2023,Melissa
23,T24,Gendered-Role 2025 2028,Sir,training1-0,Gendered-Role,2025,2028,Melissa
24,T25,Gendered-Role 2122 2125,Sir,training1-0,Gendered-Role,2122,2125,Melissa
25,T26,Gendered-Role 2137 2141,Lord,training1-0,Gendered-Role,2137,2141,Melissa
26,T27,Gendered-Role 2201 2204,Sir,training1-0,Gendered-Role,2201,2204,Melissa
27,T28,Gendered-Role 2219 2222,Sir,training1-0,Gendered-Role,2219,2222,Melissa
28,T29,Linguistic 2429 2446,reign of James IV,training1-0,Linguistic,2429,2446,Melissa

Measure inter-annotator agreement (IAA) to determine how similar the text is annotated, considering annotations that:
 * Are exact matches (same label start and end numbers for the same label type)
 * Are overlapping (the start or end of one annotator's label is contained within the start or end of another annotator's label  of the same type)

In [8]:
lucy = list(df_ann["label-start-end"])
mel = list(df_mann["label-start-end"])

In [9]:
def longerShorterList(list1, list2):
    if len(list1) >= len(list2):
        return list1, list2
    else:
        return list2, list1

In [10]:
def findExactMatches(ann1, ann2):
    long, short = longerShorterList(ann1, ann2)
    matched = []
    unmatched = []
    for label in long:
        if label in short:
            matched += [label]
        else:
            unmatched += [label]
    percentage_long = len(matched)/len(long)*100
    percentage_short = len(matched)/len(short)*100
    return matched, unmatched, percentage_long, percentage_short

In [11]:
exact_matches, unmatched, overlap_long, overlap_short = findExactMatches(lucy, mel)
print("Exact matches:\n", exact_matches)
print("\nPercentage of longer list:", str(overlap_long)+"%")
print("\nPercentage of shorter list:", str(overlap_short)+"%")
print("\nCheck for overlap:\n", unmatched)

Exact matches:
 ['Gendered-Role 445 449', 'Gendered-Role 467 471', 'Gendered-Role 568 572', 'Gendered-Role 585 589', 'Gendered-Role 1162 1165', 'Gendered-Pronoun 1207 1209', 'Gendered-Role 1400 1404', 'Gendered-Role 1537 1540', 'Gendered-Role 2025 2028', 'Gendered-Role 277 280', 'Gendered-Role 424 428', 'Gendered-Role 528 532', 'Gendered-Role 550 554', 'Gendered-Role 1084 1087', 'Gendered-Role 1155 1158', 'Gendered-Pronoun 1298 1300', 'Gendered-Role 1689 1692', 'Gendered-Role 1614 1618', 'Gendered-Role 1741 1745', 'Gendered-Role 1835 1838', 'Gendered-Role 2122 2125', 'Gendered-Role 2137 2141', 'Gendered-Role 2201 2204', 'Gendered-Role 2219 2222']

Percentage of longer list: 82.75862068965517%

Percentage of shorter list: 82.75862068965517%

Check for overlap:
 ['Gendered-Role 1099 1103', 'Gendered-Role 1529 1536', 'Gendered-Pronoun 1525 1528', 'Omission 1148 1191', 'Gendered-Role 1198 1205']

In [12]:
def splitAnnotation(annotation_list):
    list_of_landos = []
    for item in annotation_list:
        item_list = item.split(" ")
        list_of_landos += [item_list]
    label = []
    start = []
    end = []
    for l in list_of_landos:
        label += [l[0]]
        start += [l[1]]
        end += [l[2]]
    return label, start, end

In [13]:
def getLabelOffsets(label_type, df):
    rows = df[df.label == label_type]
    start = list(rows.start)
    end = list(rows.end)
    i = 0
    maxI = len(start)
    offsets = []
    while i < maxI:
        offsets += [[start[i], end[i]]]
        i += 1
    return offsets

In [14]:
label = ["Person-Name", "Woman", "Man", "Nonbinary", "Unknown", 
          "Linguistic", "Gendered-Role", "Gendered-Pronoun",  "Generalization", 
          "Contextual", "Occupation", "Stereotype", "Omission", "Empowering"]

# person = getLabelOffsets(label[0], df_ann)
# woman = getLabelOffsets(label[1], df_ann)
# man = getLabelOffsets(label[2], df_ann)
# nonbinary = getLabelOffsets(label[3], df_ann)
# unknown = getLabelOffsets(label[4], df_ann)
# linguistic = getLabelOffsets(label[5], df_ann)
role = getLabelOffsets(label[6], df_ann)
# pronoun = getLabelOffsets(label[7], df_ann)
# gen = getLabelOffsets(label[8], df_ann)
# cont = getLabelOffsets(label[9], df_ann)
# occ  = getLabelOffsets(label[10], df_ann)
# ster = getLabelOffsets(label[11], df_ann)
# omis = getLabelOffsets(label[12], df_ann)
# emp = getLabelOffsets(label[13], df_ann)

In [15]:
role

[['445', '449'],
 ['467', '471'],
 ['568', '572'],
 ['585', '589'],
 ['1099', '1103'],
 ['1162', '1165'],
 ['1400', '1404'],
 ['1529', '1536'],
 ['1537', '1540'],
 ['2025', '2028'],
 ['277', '280'],
 ['424', '428'],
 ['528', '532'],
 ['550', '554'],
 ['1084', '1087'],
 ['1155', '1158'],
 ['1198', '1205'],
 ['1689', '1692'],
 ['1614', '1618'],
 ['1741', '1745'],
 ['1835', '1838'],
 ['2122', '2125'],
 ['2137', '2141'],
 ['2201', '2204'],
 ['2219', '2222']]

In [16]:
# df_ann = df_mann
# person_m = getLabelOffsets(label[0], df_ann)
# woman_m = getLabelOffsets(label[1], df_ann)
# man_m = getLabelOffsets(label[2], df_ann)
# nonbinary_m = getLabelOffsets(label[3], df_ann)
# unknown_m = getLabelOffsets(label[4], df_ann)
# linguistic_m = getLabelOffsets(label[5], df_ann)
role_m = getLabelOffsets(label[6], df_mann)
# pronoun_m = getLabelOffsets(label[7], df_ann)
# gen_m = getLabelOffsets(label[8], df_ann)
# cont_m = getLabelOffsets(label[9], df_ann)
# occ_m  = getLabelOffsets(label[10], df_ann)
# ster_m = getLabelOffsets(label[11], df_ann)
# omis_m = getLabelOffsets(label[12], df_ann)
# emp_m = getLabelOffsets(label[13], df_ann)

In [17]:
def findMatches(label_offsets1, label_offsets2):
    left_overlap = []
    right_overlap = []
    exact_match = []
    enclosure = []
    containment = []

    for pair in label_offsets1:
        start = pair[0]
        end = pair[1]
        for pair_m in label_offsets2:
            start_m = pair_m[0]
            end_m = pair_m[1]
            # Check for left overlap
            if start <= start_m and start < end_m and end >= start_m and end < end_m:
                if [pair, pair_m] not in left_overlap:
                    left_overlap += [[pair, pair_m]]
            # Check for right overlap 
            elif start > start_m and end >= end_m and start <= end_m and end > start_m:
                if [pair, pair_m] not in right_overlap:
                    right_overlap += [[pair, pair_m]]
            # Check for exact match
            elif start == start_m and end == end_m:
                if [pair, pair_m] not in exact_match:
                    exact_match += [[pair, pair_m]]
            # Check for enclosure
            elif start < start_m and start < end_m and end > start_m and end > end_m:
                if [pair, pair_m] not in enclosure:
                    enclosure += [[pair, pair_m]]
            # Check for containment
            elif start > start_m and start < end_m and end > start_m and end < end_m:
                if [pair, pair_m] not in containment:
                    containment += [[pair, pair_m]]
    
    return left_overlap, right_overlap, exact_match, enclosure, containment

In [18]:
left_overlap_keys, right_overlap_keys, exact_match_keys, enclosure_keys, containment_keys = findMatches(role, role_m)
print("Left:",len(left_overlap_keys))
print("Right:",len(right_overlap_keys))
print("Exact:",len(exact_match_keys))
print("Enclosed:",len(enclosure_keys))
print("Contained:",len(containment_keys))

Left: 0
Right: 0
Exact: 22
Enclosed: 0
Contained: 0

In [19]:
test1 = [[445,450], [227,280], [445,456], [440,448], [440,450], [442,446]]
test2 = [[444,449], [445,449], [444,450], [444,445], [441,449], [440,449], [448,449], [442,446], [440,450]]

In [20]:
left_overlap_keys, right_overlap_keys, exact_match_keys, enclosure_keys, containment_keys = findMatches(test1, test2)
print("Left:",len(left_overlap_keys))
print("Right:",len(right_overlap_keys))
print("Exact:",len(exact_match_keys))
print("Enclosed:",len(enclosure_keys))
print("Contained:",len(containment_keys))

Left: 10
Right: 14
Exact: 2
Enclosed: 11
Contained: 3

In [21]:
print("Left:\n",left_overlap_keys)
print("Right:\n",right_overlap_keys)
print("Exact:\n",exact_match_keys)
print("Containment:\n",containment_keys)
print("Enclosed:\n",enclosure_keys)

Left:
 [[[440, 448], [444, 449]], [[440, 448], [445, 449]], [[440, 448], [444, 450]], [[440, 448], [441, 449]], [[440, 448], [440, 449]], [[440, 448], [448, 449]], [[440, 448], [440, 450]], [[442, 446], [444, 449]], [[442, 446], [445, 449]], [[442, 446], [444, 450]]]
Right:
 [[[445, 450], [444, 449]], [[445, 450], [444, 450]], [[445, 450], [444, 445]], [[445, 450], [441, 449]], [[445, 450], [440, 449]], [[445, 450], [442, 446]], [[445, 450], [440, 450]], [[445, 456], [444, 449]], [[445, 456], [444, 450]], [[445, 456], [444, 445]], [[445, 456], [441, 449]], [[445, 456], [440, 449]], [[445, 456], [442, 446]], [[445, 456], [440, 450]]]
Exact:
 [[[440, 450], [440, 450]], [[442, 446], [442, 446]]]
Containment:
 [[[442, 446], [441, 449]], [[442, 446], [440, 449]], [[442, 446], [440, 450]]]
Enclosed:
 [[[445, 450], [448, 449]], [[445, 456], [448, 449]], [[440, 448], [444, 445]], [[440, 448], [442, 446]], [[440, 450], [444, 449]], [[440, 450], [445, 449]], [[440, 450], [444, 445]], [[440, 450], [441, 449]], [[440, 450], [448, 449]], [[440, 450], [442, 446]], [[442, 446], [444, 445]]]

In [22]:
left_overlap_keys, right_overlap_keys, exact_match_keys, enclosure_keys, containment_keys = findMatches(test2, test1)
print("Left:",len(left_overlap_keys))
print("Right:",len(right_overlap_keys))
print("Exact:",len(exact_match_keys))
print("Enclosed:",len(enclosure_keys))
print("Contained:",len(containment_keys))

Left: 15
Right: 9
Exact: 2
Enclosed: 3
Contained: 11

In [23]:
print("Left:\n",left_overlap_keys)
print("Right:\n",right_overlap_keys)
print("Exact:\n",exact_match_keys)
print("Containment:\n",containment_keys)
print("Enclosed:\n",enclosure_keys)

Left:
 [[[444, 449], [445, 450]], [[444, 449], [445, 456]], [[445, 449], [445, 450]], [[445, 449], [445, 456]], [[444, 450], [445, 456]], [[444, 445], [445, 450]], [[444, 445], [445, 456]], [[441, 449], [445, 450]], [[441, 449], [445, 456]], [[440, 449], [445, 450]], [[440, 449], [445, 456]], [[440, 449], [440, 450]], [[442, 446], [445, 450]], [[442, 446], [445, 456]], [[440, 450], [445, 456]]]
Right:
 [[[444, 449], [440, 448]], [[444, 449], [442, 446]], [[445, 449], [440, 448]], [[445, 449], [442, 446]], [[444, 450], [440, 448]], [[444, 450], [440, 450]], [[444, 450], [442, 446]], [[441, 449], [440, 448]], [[448, 449], [440, 448]]]
Exact:
 [[[442, 446], [442, 446]], [[440, 450], [440, 450]]]
Containment:
 [[[444, 449], [440, 450]], [[445, 449], [440, 450]], [[444, 445], [440, 448]], [[444, 445], [440, 450]], [[444, 445], [442, 446]], [[441, 449], [440, 450]], [[448, 449], [445, 450]], [[448, 449], [445, 456]], [[448, 449], [440, 450]], [[442, 446], [440, 448]], [[442, 446], [440, 450]]]
Enclosed:
 [[[441, 449], [442, 446]], [[440, 449], [442, 446]], [[440, 450], [442, 446]]]